<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395516850709-fkmtns6jned2q7i36igu95rvb8k02gau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395516850709-fkmtns6jned2q7i36igu95rvb8k02gau</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>395516850709-7i4s2imkkbqo0e2cbf58b93n34rth7tr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAsVHJVF5xgttxAauPEfwSG6NVOgnryKLk</string>
	<key>GCM_SENDER_ID</key>
	<string>395516850709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>playtandem.com</string>
	<key>PROJECT_ID</key>
	<string>tandem-001</string>
	<key>STORAGE_BUCKET</key>
	<string>tandem-001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395516850709:ios:ca253780cbd01362ac541c</string>
</dict>
</plist>